<html>
<head>
    <title>Horton's Nest</title>
    <link rel="stylesheet" href="resources/styles/core.css">
    <link rel="shortcut icon" href="resources/images/favicon.ico" />
    <script type="text/javascript" src = "resources/js/game.js"></script>
</head>
<body onload="startApp()">
<canvas id="canvas" width="1000" tabindex="1" height="600">
    How bold and cold to use a browser so old. What were you told?!
</canvas>

<div class="footer">
    <p>A David and Jessica Horton creation.</p>
    <p>Audio clips borrowed from <a href="http://www.freesfx.co.uk/">here</a> and images borrowed from <a href="http://www.clipartbest.com">here</a> and <a href="https://openclipart.org/share">here.</a> Source code available <a href="https://github.com/davidhorton/hortonsnest">here.</a></p>
    <p>Site visits: {{viewModel.pageViews}}</p>
</div>
</body>
</html>