body {
    background-color: black;
}

#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.footer > p {
    text-align: center;
    color: whitesmoke;
    font-size: 18px;
    margin-top: 7px;
}