body {
    background-color: black;
}

th {
    text-align: left;
    font-size: 20px;
    color: #000080;
    font-family: "Courier New", Courier, monospace;
}

td {
    font-size: 15px;
    color: #000080;
    font-family: "Courier New", Courier, monospace;
}

#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.viewport {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    width: 1000px;
    height: 600px;
}

.leaderboard-container {
    z-index: 1;
    top: 65px;
    left: 300px;
    position: absolute;
}

.leaderboard-container > p {
    font-size: 20px;
    color: #000080;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.leaderboard {
    width: 400px;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.footer > p {
    text-align: center;
    color: whitesmoke;
    font-size: 18px;
    margin-top: 7px;
}